<div *ngIf="item">
  <div class="row">
    <div class="col-xs-3">
      <h3>Name: </h3>
    </div>
    <div class="col-xs-9">
      <h3>
        {{item.displayName}}
      </h3>
    </div>
  </div>
  <div class="row">
    <div class="col-xs-3">
      <h3>
        Phone:
      </h3>
    </div>
    <div class="col-xs-9">
      <h3>
        {{item.phoneNumbers[0].value}}
      </h3>

    </div>
  </div>
  <div class="row">
    <div class="col-xs-12">
      <button type="button"
              [routerLink]="['/items', item.id, 'edit']"
              class="btn btn-info"
              style="font-size: 20px;">Edit
      </button>
      <button type="button"
              (click)="deleteContact()"
              class="btn btn-danger"
              style="font-size: 20px;">Delete
      </button>
    </div>
  </div>
</div>
