<div *ngIf="item">
  <div>
    <form #itemForm="ngForm" (ngSubmit)="save()">
      <br>
      <br>
      <input [(ngModel)]="item.displayName" placeholder="Name" type="text" name="displayName" >
      <br>
      <!--<input [(ngModel)]="phoneNumber.value" placeholder="Phone" type="text" name="value" >-->
      <br>
      <input [(ngModel)]="item.emails" placeholder="Email" type="text" name="emails" >
      <br>
      <button type="submit">Save</button>
      <!--<button [routerLink]="['/items']">Back</button>-->
    </form>
  </div>
</div>


